<html>
<body>
<h1><center>Music Instrument List</center></h1>
<div class="container">

<form action="/music/search" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search Price">
</form>

<table class="table table-striped">
  <tr>
     <th>ID </th>
     <th>Music Name</th>
     <th>Music Brand</th>
     <th>Music Prices</th>
     <th>Buy Date</th>
     <th>Producer</th>
      <th>Qty</th>
      <th>Update</th>
      <th>Delete</th>
  </tr>
  <tr>
  {% for music in musics%}
    <td> {{ music.id }} </td>
    <td> {{ music.music_name }} </td>
    <td> {{ music.music_brand }}</td>
    <td> {{ music.music_price }}</td>
    <td> {{ music.music_buy }}</td>
    <td> {{ music.music_producer }} </td>
    <td> {{ music.music_quantity }}</td>
    <td> <a class = "btn btn-info" href = "{% url 'update_music' music.id %}"> Update </a> </td>
    <td> <a class = "btn btn-danger" href = "{% url 'delete_music' music.id %}"> Delete </a> </td>
    </tr>
  {%endfor%}
</table>

<a class="btn btn-info pull-right" href = "{%url 'create_music' %}"> New Music </a>
 <!-- url 이름을 설정한 이유. -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</div>
</body>
</html>